.checkboxLabel
{
    font-weight: normal;
}
.checkboxLabel:hover
{
    cursor:pointer;
}

#selectMachineDiv > .a-machine
{
    display: inline-block;
    padding: 1px 12px;
    border: 1px solid #999;
    margin: 2px;
    border-radius: 4px;
    min-width: 80px;
    text-align: center;
}
#selectMachineDiv > .a-machine:hover
{
    cursor: pointer;
}
#selectMachineDiv > .a-machine.selectedMachine
{
    background-color: #5cb85c;
    border-color: #4cae4c;
    color: #fff;
    font-weight: bold;
}

#machine-detail-tooltip
{
    position: fixed;
    border-radius: 3px;
    padding: 8px;
    z-index: 9999;
    background-color: #FFF;
    margin-left: -30px;
    margin-top: 20px;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
    
    border-width: 1px;
    border-style: solid;
    border-color: #ddd #ccc #bbb;
}
.machine-detail-branch-code,
.machine-detail-branch-name
{
    padding: 4px 8px;
    color: #316CE5;
    font-weight: bold;
}
.machine-detail-address
{
    padding: 4px 8px;
    color: #0091FF;
    display:block;
}

#modal-wrapper
{
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    overflow: auto;
        
    background-color: rgba(0,0,0,0.5);
    display: none;
}
#modal-wrapper .modal-dialog
{
    width: 800px;
    margin: 2em auto;   
    background-color: #FFF;    
    border-radius: 2px;
    border: 1px solid #EEE; 
    box-shadow: 0px 8px 20px 0px;
}
#modal-wrapper .modal-dialog .modal-header
{
    padding:8px;
    border-bottom: 1px solid #DDD;
    
}
.modal-header .modal-title
{
    font-size: 16px;
}
.modal-header .modal-close-btn
{
    float:right;
    color: #000;
    opacity: 0.5;
        
    transition: opacity ease-in-out 0.25s;
    -webkit-transition: opacity ease-in-out 0.25s;
}
.modal-header .modal-close-btn:hover
{
    cursor:pointer;
    opacity: 0.8;
}
.modal-header .modal-close-btn:active
{
    opacity: 1;
}

#modal-content > .sub-content
{
    display:none;
}
.custom-table ul
{
    list-style:none;
    padding:0;
    margin:0;
}
.custom-table ul li span:first-child
{
    width: 120px;
}
.custom-table ul li span
{
    display:inline-block;
    padding: 2px 4px;
}
.custom-table > .custom-table-header ul
{
    background-color: #333;
    color: #FFF;
}
.custom-table > .custom-table-body
{
    overflow: auto;
}
.custom-table > .custom-table-body span:first-child
{
    border-right: 1px solid #CCC;
}