div.sensorField {
	width: 400px;
	height: 400px;
	position: relative;/*important for the inner item to refer pos*/
/*	margin-left: auto;
	margin-right: auto;
*/	border: 1px gray solid;
    margin: 0 auto;

}

div.sensorField img {
	width: 100%;
	height: 100%;
}

