.portlet{
    margin-bottom: 15px;
}
.portlet .portlet-header:hover{
    cursor: pointer;
}
.dropdown-menu 
{
    padding-left: 8px; 
    padding-right: 8px; 
}
.portlet .portlet-header 
{
    /*
    background-image: linear-gradient(to bottom, #FAFAFA 0%, #EBEBEB 100%);
    background-repeat: repeat-x;
    */
    background-color: #EEE;
    border: 1px solid #CCC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 1px 15px;
    position: relative;
}
.portlet .portlet-content 
{
    /*
    background-image: linear-gradient(to bottom, #E5E5E5 0%, #D8D8D8 100%);
    */
    background-color: #FFFFFE;
    border: 1px solid #CCC;
    border-radius: 4px;
    padding: 15px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
}
.portlet .portlet-tools {
    display: inline-block;
    float: left;
    margin: 5px 2px 0;
    padding: 0;
}
.portlet .portlet-tools > li {
    display: inline-block;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}
.portlet .portlet-tools .dropdown-menu a{
    padding: 5px 0 5px 10px;
}
.portlet .portlet-tools .dropdown-menu a:hover{
    background: #E5412D;
    border-radius: 4px;
    color: #fff;
}
.portlet .portlet-tools .dropdown-menu {
    left: auto;
    right: 0;
    min-width: 120px;
}
.portlet .portlet-header h3 {
    color: #555;
    display: inline-block;
    font-size: 15px;
    font-weight: 600;
    margin: 0 1em 0 0;
    padding: 10px 0;
    vertical-align: middle;
}
.portlet .portlet-tools .btn.btn-sm {
    margin-bottom: 0;
    padding-bottom: 3px;
    padding-top: 3px;
}
.btn-color {
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    color: #555;
}
.btn-color:hover, 
.btn-color:focus
{
    background-color: #FCFCFC;
}
.btn-color:active, 
.btn-color.active, 
.open .dropdown-toggle.btn-color {
    background-color: #F6F6F6;
    color: #555;
}
#select-site-btn{
    width: auto;
}
#select-kiosk-btn{
    width: auto;
}

.column { 
    float: left; 
    padding-bottom: 100px;
}
.portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 100px;
  }
/*
.ui-sortable-placeholder { 
    border: 1px dotted black; 
    visibility: visible !important; 
    height: 100px !important; 
}
.ui-sortable-placeholder * { 
    visibility: hidden; 
}
*/
#statusTable{
    width: 100%;
}
#statusTable th, #statusTable td{
    padding: 8px;
    font-size: 13px;
}
#statusTable a,
#statusTable a:hover{
    color: #000;
}
.clickable-link,
.clickable-link:hover,
.clickable-error-code,
clickable-error-code:hover{
    text-decoration: underline !important;
    cursor: pointer;
    color: black !important;
}
.status-col{
    text-align: center;
    color: #000;
    border: 1px solid black;
    font-size: 14px !important;
}

.zero-circle {
    background-color: transparent !important;
}

/* SOP colors DIV */
.info-div {
    padding: 10px 20px;
    border-left: 3px solid #eee;
    background-color: #FCFCFC;
}
.info-div span {
    font-size: 14px;
    text-decoration: underline;
}
.info-div p
{
    margin: 0px;
}
.red-info-div
{
    border-color: #d9534f;
}
.red-info-div span
{
    color: #d9534f;
}
.yellow-info-div
{
    border-color: #F0AD4E;
}
.yellow-info-div span
{
    color: #F0AD4E;
}
.green-info-div
{
    border-color: #5CB85C;
}
.green-info-div span
{
    color: #5CB85C;
}
.grey-info-div
{
    border-color: #999;
}
.grey-info-div span
{
    color: #999;
}
/* End here */
/***********/

.status-circle {
    border: 5px solid;
    font-size: 20px;
    font-weight: bolder;
}

.red-border {
    border: 5px solid #E5412D;
}

.yellow-border {
    border: 5px solid #F0AD4E;
}


.green-border {
    border: 5px solid #5CB85C;
}

.grey-border {
    border: 5px solid #999999;
}


.redCol,.red-circle{
    background: #E5412D;
}
.yellowCol,.yellow-circle{
    background: #F0AD4E;
}
.greenCol,.green-circle{
    background: #5CB85C;
}
.greyCol,.grey-circle{
    background: #999999;
}
.refresh-btn{
    color: #0097ff;
    margin-left: 5px;
    cursor: pointer;
}

.alert {
    /*animation: blink 0.8s infinite;*/
    -webkit-animation: blink 0.8s infinite; /* Safari and Chrome */
}

/* Urgent Queue List colors */
#urgentQueueList{
    font-size: 13px;
    width: 100%;
    margin-top: 5px;
}
#urgentQueueList th,
#urgentQueueList td {
    border: 1px solid #000000;
    text-align: center;
}
#urgentQueueList th{
    color: #fff;
    background-color: #000; 
}
.blueCol{
    background-color: #3399ff;
    color: #fff;
}
/* Machine Quick View */
#inputQuickView{
    width: 105px !important;
    padding: 3px;
}
#overall-status-table{
    table-layout: fixed;
}
#overall-status-table td{
}
.circle{
    width: auto;
    height: auto;
    margin-right:3px;
    margin-left: 3px;
    border-radius: 100%;
    /*line-height: 65px;*/
    color: #000;
}


.small-circle{
    margin-right:3px;
    margin-left: 3px;
    border-radius: 100%;
    line-height: 65px;
    color: #000;
    margin:0 ;
    width: 65px;
    height: 65px;
}
.blink
{
    animation: blink 1.0s infinite;
    -webkit-animation: blink 1.0s infinite;
}
@keyframes blink
{
    to{background-color:transparent;}
}
@-webkit-keyframes blink  /*Safari and Chrome */ 
{
    to{background-color:transparent;}
}
#volume-div{
    padding-top: 20px;
    text-align: right;
}
.volume-icon{
    cursor: pointer;
}
/*.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}*/
.td-title{
    font-weight: bold;
}
#quickView-modal
{
    color: #000;
}
#quickView-modal .modal-dialog
{
    width: 800px;
}
#quickView-modal .modal-content table{
    padding: 8px;
    font-size: 13px;
    width: 100%;
}
#modal-title{
    font-size: 15px;
}
#machine-detail-status
{
    padding: 15px;
    border-radius: 6px;
    background-color: #F8F8F8;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.5);
}
#quickView-modal .modal-body .tab-content{
    margin-top: 15px;
}
.modal-body hr{
    margin-top: 15px;
    margin-bottom: 10px;
}
#machine-location{
    font-weight: bold;
}
.modal-body table td{
    vertical-align: top;
}
.thumbnail{
    margin: 0px;
}

.vertically-centered {
    /*apply this class on wrapper*/
    display: table-cell;
    vertical-align: middle !important;
    
}

/*roy added:*/
.hidden {
    background-color: transparent;
}

#tblStatusHistory > thead th, #tblTransactionHistory > thead th
{
    background-color: #333;
    color: #FFF;
    border: 1px solid #DDD;
    padding: 0px 4px;
}
#tblStatusHistory > tbody td, #tblTransactionHistory > tbody td
{
    border: 1px solid #DDD;
    padding: 0px 4px;
}

/* weeliang added: for Charts*/

.legend {
    width: 10em;
    /*border: 1px solid black;*/
}

.legend .title {
    display: block;
    margin-bottom: 0.5em;
    line-height: 1.2em;
    padding: 0 0.3em;
}

.legend .color-sample {
    display: block;
    float: left;
    width: 1em;
    height: 1em;
    border: 2px solid; /* Comment out if you don't want to show the fillColor */
    border-radius: 0.5em; /* Comment out if you prefer squarish samples */
    margin-right: 0.5em;
}

/*End, for Charts */