.task-div
{
    border: 1px solid #DDD;
    border-bottom-color: #CCC;
    background-color: #EEE;
    padding: 8px;
    border-radius: 4px;
    margin: 2px 0px;
}

.task-div span:not(.taskName_disabled)
{
    padding-right: 8px;
    vertical-align: top;
}

.task-div input[type="checkbox"]
{
    margin: 0px;
}

.removeTaskDivIcon,.deleteTaskBtn
{
    width: auto;
    float: right;
    cursor: pointer;
    color: #DA3232;
}
.deleteTaskBtn
{
    color: #F00;

}
.selectTaskName,.selectRole{
    padding: 2px 6px;
    border: 1px solid #BBB;
    color: #555;
}

.listOfTask
{
    padding-left: 0px;
    margin: 0px;
    list-style: none;
}
.listOfTask li
{
    margin: 4px 0px;
}
.pStatus
{
    margin-left: 10px;
    display: inline-block;
}
.greenDiv
{
    background-color: #3FB23D; 
}

.redDiv
{
    background-color: #FF2727;
}

.statusDiv
{
    padding: 8px;
    color: #FFF;
    width: 30px;
    margin: 0px 2px;
    border-radius: 4px;
    text-align: center;
}

.taskName_disabled
{
    color: #30B57E;
    font-weight: 600;
}

.permision-div > .disabled
{
    color: #BBB;
}

.ckmkRole
{
    padding: 4px;
    border: 1px solid #CCC;
    border-radius: 4px;
    height: 30px;
    background-color: #EEE;
    margin-left: 10px;
    font-weight: bold;
}
.taskName
{
    display:inline-block;
    width: 150px;
    text-align: right;
}

#role-task-list-div
{
    position: absolute;
    border: 1px solid #555;
    padding: 12px;
    background-color: #FFF;
    border-radius: 2px;
    z-index: 100;
}
#role-task-list-tbl
{
    width:100%;
    border: 1px solid #CCC;
}
#role-task-list-tbl th
{
    padding: 4px;
    background-color: #333;
    color: #FFF;
    border: 1px solid #CCC;
}
#role-task-list-tbl td
{
    padding: 4px;
    border: 1px solid #DDD;
}
#role-task-list-tbl td:not(:first-child)
{
    text-align: center;
}
#closeRoleTaskListDiv
{
    color: #CCC;
    float:right;
    margin-top: -5px;
}
#closeRoleTaskListDiv:hover
{
    cursor:pointer;
    color: #555;
}
#closeRoleTaskListDiv > .fa
{
    width:auto;
}